*{
    padding:0px;
    margin:0px;
}
#iteams{
    color:red;
    display: flex;
gap:10px;
flex-wrap: wrap;
}

.box{
    width:250px;
    height:80px;
    background-color: aqua;
 

}
@media only screen and (min-width:700px)
{
    .box{
        width:150px;
        height: 60px;
        background-color: green;
    }
}
